/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
}

/* ROOT APP */
.app {
  display: flex;
  height: 100vh;
  background: #f5f6fa;
  color: #111;
  transition: 0.3s;
}

/* DARK MODE */
.app.dark {
  background: #0f172a;
  color: #fff;
}

/* SIDEBAR */
.sidebar {
  width: 260px;
  background: #111827;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold;
}

.sidebar button {
  margin: 6px 0;
  padding: 10px;
  background: #1f2937;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.sidebar button:hover {
  background: #374151;
}

/* MAIN AREA */
.main {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/* HEADER */
.main h1 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* INPUT SEARCH */
.main input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
}

/* ADD FORM */
form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

form input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form button {
  padding: 12px 18px;
  background: #4f46e5;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

form button:hover {
  background: #4338ca;
}

/* TASK LIST */
ul {
  list-style: none;
}

/* TASK ITEM */
li {
  background: white;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: 0.2s;
}

.app.dark li {
  background: #1e293b;
}

/* HOVER EFFECT */
li:hover {
  transform: scale(1.01);
}

/* DONE TASK */
.done {
  opacity: 0.6;
}

.done span {
  text-decoration: line-through;
}

/* BUTTONS */
li button {
  margin-left: auto;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

li button:hover {
  color: red;
}

/* STATS */
.stats {
  margin-top: auto;
  font-size: 14px;
}

/* ERROR */
p {
  margin: 10px 0;
}
.logo-box {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.logo-circle {
  width: 45px;
  height: 45px;
  background: #4f46e5;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

.logo-box h2 {
  margin: 0;
  font-size: 18px;
}

.logo-box p {
  margin: 0;
  font-size: 12px;
  color: #aaa;
}